BASE_URL=https://www.saucedemo.com
STANDARD_USER=standard_user
LOCKED_OUT_USER=locked_out_user
SECRET_SAUCE_PASSWORD=secret_sauce
DEFAULT_FIRST_NAME=John
DEFAULT_LAST_NAME=Doe
DEFAULT_POSTAL_CODE=12345
